<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
        <div class="row">
            <h3 class="text-center"> Update Pet </h3>
            <hr />
            <div class="card-body">
                <form (ngSubmit)="onSubmit()">

                    <div class="form-group">
                        <label> Pet Name</label>
                        <input type="text" class="form-control" id="petName" [(ngModel)]="pet.petName"
                            name="petName">
                    </div>

                    <div class="form-group">
                        <label> Pet Type</label>
                        <input type="text" class="form-control" id="petType" [(ngModel)]="pet.petType"
                            name="petType">
                    </div>

                    <div class="form-group">
                        <label> Pet Breed</label>
                        <input type="text" class="form-control" id="petBreed" [(ngModel)]="pet.petBreed"
                            name="petBreed">
                    </div>
                    <br />
                    <button class="btn btn-success" type="submit">Submit</button>

                </form>
            </div>
        </div>
    </div>
</div>