<div class = "row">
    <h2> Pet List</h2>
</div>

<table class = "table table-striped table-bordered">
    <thead>
        <tr>
            <th> Pet Name</th>
            <th> Pet Type </th>
            <th> Pet Breed</th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let pet of pets" >
            <td> {{ pet.petName }} </td>
            <td> {{ pet.petType }} </td>
            <td> {{ pet.petBreed }} </td>
            <td>
                <button (click) = "updatePet(pet.id)" class = "btn btn-primary"> Update</button>
                <button (click) = "deletePet(pet.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
                <button (click) = "petDetails(pet.id)" class = "btn btn-primary" style="margin-left: 10px"> View</button>
            </td>
        </tr>
    </tbody>
</table>